
fileTransfer/__pycache__/fileTransferFunc.cpython-310.pyc
*.pyc
fileTransfer/fileTransferFunc.py
fileTransfer/fileTransferFunc.py
fileTransfer/fileTransferGui.py
fileTransfer/fileTransferMain.py
phonebook/db_phonebook.db
phonebook/phonebook_func.py
phonebook/phonebook_gui.py
phonebook/phonebook_main.py
fileTransfer/fileTransferMain.py
fileTransfer/fileTransferGui.py
fileTransfer.py
fileTransfer/fileTransferFunc.py
